.chat {
    width: 75%;
    background-color: var(--blackFourth);
    box-shadow: var(--shadow);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-message-list {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 10px 20px 0;
        max-height: 100%;
        margin-top: 88px;
        margin-bottom: 100px;
    }
}
