.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
        padding-bottom: 20px;
    }

    &-subtitle {
        padding-bottom: 20px;
    }
}
