<div class="{{styles.avatar}}">
    <a class="{{styles.avatar-container}}" href="#open-modal">
        <img src="{{imgIcon}}" alt="Поменять аватар" />
        <span class="{{styles.avatar-hint}}">Поменять аватар</span>
    </a>
</div>