.chat-list {
  width: 25%;
  background-color: yellow;
  padding: 15px 0;
  background-color: var(--blackSecondary);
  overflow: auto;

  &__top {
    display: flex;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  &__profile {
    margin: auto 20px auto 15px;
    transition: var(--transition);

    &:hover {
      opacity: var(--hoverOpacity);
    }
  }

  &__search-form {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }
}
