.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    padding-bottom: 20px;
  }

  &__subtitle {
    padding-bottom: 20px;
  }
}
