@import "normalize.pcss";
@import "fonts.pcss";
@import "variables.pcss";
@import "profile-settings.pcss";

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--whitePrimary);
    background: var(--blackPrimary);
    box-sizing: border-box;
}

form {
    margin: 0;
}

.main {
    display: grid;
    min-height: 100vh;
}
