@import url("normalize.pcss");
@import url("fonts.pcss");
@import url("variables.pcss");

body {
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: var(--whitePrimary);
    background: var(--blackPrimary);
    box-sizing: border-box;
}

form {
    margin: 0;
}

.main {
    display: grid;
    min-height: 100vh;
}
