<nav>
    <ul>
        <li>
            <a href="/authorization">
                Страница 'Авторизоваться'
            </a>
        </li>
        <li>
            <a href="/registration">
                Страница 'Регистрация'
            </a>
        </li>
        <li>
            <a href="/404">
                Страница 'Ошибка 404'
            </a>
        </li>
        <li>
            <a href="/500">
                Страница 'Ошибка 500'
            </a>
        </li>
        <li>
            <a href="/chat-list">
                Страница 'Чат'
            </a>
        </li>
        <li>
            <a href="/chat-list-empty">
                Страница 'Чат' - пустой
            </a>
        </li>
        <li>
            <a href="/profile-settings">
                Страница 'Профиль'
            </a>
        </li>
        <li>
            <a href="/profile-settings-change">
                Страница 'Профиль' - Изменение данных
            </a>
        </li>
        <li>
            <a href="/profile-password-change">
                Страница 'Профиль' - Изменение пароля
            </a>
        </li>
    </ul>
</nav>