{{!< main}} 

<section class='authorization'>
    <form class='authorization__container'>
        {{> text tag='h1' type='medium-title' text='Вход' class='authorization__title'}}
        {{> input label='Логин' type='text' name='login'}}
        {{> input label='Пароль' type='password' name='password' error='true' errorText='Неверный пароль'}}
        <div class='authorization__bottom'>
            {{> button text='Войти' variant='primary'}}
            {{> link text='Впервые?' href='registration.hbs' class='authorization__link' }}
        </div>
    </form>
</section>
