{{!< profile-settings}} 

<form>
    <div class='profile-settings__info'>
        {{> input label='Почта' type='email' name='email' value='pochta@yandex.ru' }}
        {{> input label='Логин' type='text' name='login' value='ivanivanov'}}
        {{> input label='Имя' type='text' name='first_name' value='Иван'}}
        {{> input label='Фамилия' type='text' name='second_name' value='Иванов'}}
        {{> input label='Имя в чате' type='text' name='display_name' value='Иван'}}
        {{> input label='Телефон' type='tel' name='phone' value='+7 (909) 967 30 30' }}
    </div>
    <div class='profile-settings__buttons'>
        {{> button text='Сохранить' variant='primary'}}
    </div>
</form>
