{{!< profile-settings}} 

<form>
    <div class='profile-settings__info'>
        {{> input label='Старый пароль' type='text' name='oldPassword'}}
        {{> input label='Новый пароль' type='text' name='newPassword'}}
        {{> input label='Повторите новый пароль' type='tel' name='new-password2'}}
    </div>
    <div class='profile-settings__buttons'>
        {{> button text='Сохранить' variant='primary'}}
    </div>
</form>
