{{!< main}} 

<section class='authorization'>
    <form class='authorization__container authorization__container_extended'>
        {{> text tag='h1'type='medium-title' text='Регистрация' class='authorization__title'}}
        {{> input label='Почта' type='email' name='email'}}
        {{> input label='Логин' type='text' name='login'}}
        {{> input label='Имя' type='text' name='first_name'}}
        {{> input label='Фамилия' type='text' name='second_name'}}
        {{> input label='Телефон' type='tel' name='phone'}}
        {{> input label='Пароль' type='password' name='password'}}
        {{> input label='Пароль(ещё раз)' type='password' name='password'}}
        <div class='authorization__bottom'>
            {{> button text='Зарегистрироваться' variant='primary'}}
            {{> link text='Есть аккаунт?' href='authorization.hbs' class='authorization__link' }}
        </div> 
    </form>
</section>
