<div id='open-modal' class='modal-window'>
    <form>
        <a href='#' class='modal-window__close'>Закрыть</a>
        {{> text tag='h3' type='big-span' text='Загрузите файл' class='modal-window__title'}}
        {{> file-input}}
        {{> button text='Поменять' variant='primary'}}
    </form>
</div>