<div class='chat__bottom'>
  <form class='chat-input'>
    <input
      class='chat-input__field'
      type='text'
      placeholder='Сообщение'
      name='messsage'
    />
    <div class='chat-input__controls'>
      <img
        class='chat-input__control-icon'
        src='../assets/img.svg'
        alt='Удалить чат'
      />
      <img
        class='chat-input__control-icon'
        src='../assets/file.svg'
        alt='Добавить пользователя'
      />
      <img
        class='chat-input__control-icon'
        src='../assets/location.svg'
        alt='Удалить пользователя'
      />
      <img
        class='chat-input__control-icon chat-input__control-icon_send'
        src='../assets/send.svg'
        alt='Отправить сообщение'
      />
    </div>
  </form>
</div>