<div class='chat__top'>
  <div class='chat__info'>
    <div class='chat__avatar'></div>
    <span class='chat__name'>{{userName}}</span>
  </div>
  <div class='chat__controls'>
    <img
      class='chat__control-icon'
      src='../assets/bin-circle.svg'
      alt='Удалить чат'
    />
    <img
      class='chat__control-icon'
      src='../assets/plus-circle.svg'
      alt='Добавить пользователя'
    />
    <img
      class='chat__control-icon'
      src='../assets/delete-circle.svg'
      alt='Удалить пользователя'
    />
  </div>
</div>