<aside class='chat-list'>
    <div class='chat-list__top'>
        <a href='profile-settings.hbs' class='chat-list__profile'>
            <img src='../assets/profile.svg' alt='Профиль' />
        </a>
        <form class='chat-list__search-form'>
            {{> search-input }}
        </form>
    </div>
    <div class='chat-list__container'>
        {{> chat-item
        userName='Андрей'
        lastMessage='Изображение'
        time='10:49'
        isNewMessage='true'
        numberOfNewMessages='2' }}
        {{> chat-item
        userName='Вадим'
        lastMessage='Вы: стикер'
        time='Пт'
        class='chat-item_current'}}
        {{> chat-item
        userName='Вадим'
        lastMessage='Вы: стикер'
        time='Пт' }}
    </div>
</aside>