<section class='error-page'>
    {{> text tag='h1' type='big-title' text=title class='error-page__title'}}
    {{> text tag='p' type='big-span' text=subtitle class='error-page__subtitle'}}
    {{> link text='Назад к чатам' type='button' href='chat-list.hbs' }}
</section>