<div class='message'>
  <div class='message__container message__container_{{owner}}'>
    <span class='message__text'>{{text}}</span>
    <div class='message__right'>
      <img src='../assets/check.svg' alt='Доставлено' />
      <span class='message__time'>{{time}}</span>
    </div>
  </div>
</div>