<form class="{{styles.profile-settings-info}}">
    {{#each profileItems}}
        {{{this}}}
    {{/each}}
    <div class="{{styles.profile-settings-buttons}}">
        {{#each profileButtons}}
            {{{this}}}
        {{/each}}
    </div>
</form>
