<nav>
  <ul>
    <li>
      <a href='pages/authorization.hbs'>
        Страница 'Авторизоваться'
      </a>
    </li>
    <li>
      <a href='pages/registration.hbs'>
        Страница 'Регистрация'
      </a>
    </li>
    <li>
      <a href='pages/404.hbs'>
        Страница 'Ошибка 404'
      </a>
    </li>
    <li>
      <a href='pages/500.hbs'>
        Страница 'Ошибка 500'
      </a>
    </li>
    <li>
      <a href='pages/chat-list.hbs'>
        Страница 'Чат'
      </a>
    </li>
    <li>
      <a href='pages/chat-list-empty.hbs'>
        Страница 'Чат' - пустой
      </a>
    </li>
    <li>
      <a href='pages/profile-settings.hbs'>
        Страница 'Профиль'
      </a>
    </li>
    <li>
      <a href='pages/profile-settings-change.hbs'>
        Страница 'Профиль' - Изменение данных
      </a>
    </li>
    <li>
      <a href='pages/profile-password-change.hbs'>
        Страница 'Профиль' - Изменение пароля
      </a>
    </li>
  </ul>
</nav>