.inputFile {
    margin-bottom: 40px;

    &::file-selector-button {
        border: none;
        color: var(--whiteSecondary);
        cursor: pointer;
        transition: all 0.25s ease-in;
        cursor: pointer;
        background-color: transparent;
        text-decoration: underline;
        transition: var(--transition);

        &:hover {
            opacity: var(--hoverOpacity);
        }
    }
}
